/* Universal Styles */

html {
  font-size: 18px;
}

body{
  font-family: Helvetica;
}

.small-width {
  width: 960px;
  margin: 0px auto;
}

.main-content {
  background-color: white;
  background-size: cover;
}


/* Header */

.header-full-width {
  background-color: black;
  background-size: cover;
}

header {
  height: 2.5rem;
}

header img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
  padding-top: .5rem;
}

header span {
  font-size: 1rem;
  color: white;
  align-items: center;
}

/* Top banner and Nav Bar */

.banner-full-width {
  background-image: url("../images/moto.jpeg");
  height: 25rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.top-content {
  width: 20rem;
  background-color: black;
  color: white;
  font-family: Helvetica;
  position: relative;
  top: 9rem;
}

.top-content h3 {
  font-size: 1rem;
  font-weight: bold;
  font-family: Helvetica;
  padding-top: 2rem;
  padding-bottom: 0.25rem;
  padding-left: 3rem;
}

.top-content h1 {
  font-size: 2rem;
  font-weight: bold;
  padding-left: 3rem;
  padding-bottom: 2rem;
  font-family: Helvetica;
}

.nav-full-width {
  background-color: firebrick;
}

nav {
  display: flex;
  height: 3.5rem;
  color: white;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: white;
  padding-top: 0.75rem;
}

.mobile-menu {
  display: none;
}

/* Main Content */

.product-grid {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin-top: 3rem;
  margin-bottom: 4rem;
  width: 100%;
}

.product {
  display: flex;
  flex-direction: column;
  width: 30%;
  border: 4px solid black;
  text-align: center;
}

.product img {
  height: 9rem;
  padding: 2rem 2rem;
  
}

.product span {
  color: white;
  background-color: black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.location-container {
  display: flex;
  justify-content: space-between;
}

.location-specific {
}

.location-specific span {
  background-color: black;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 13rem;
}

.location-specific h4 {
  position: relative;
  top: 1.5rem;
  padding-bottom: 4rem;
}

/* Footer Section */

.footer-full-width {
  background-color: black;
  background-size: cover;
  height: 5rem;
}

footer {
  color: white;
  padding-top: 2rem;
}

footer span {
}

/* Responsize Style Changes */

@media only screen and (max-width: 1024px) {



  nav a {
    display: none;
  }

  .mobile-menu {
    display: block;
    color: white;
    text-align: center;
    margin: 0 auto;
  }

  .product.glasses {
    display: none;
  }

  .product {
    width: 47%;
  }

  .product img {
    width: 50%;
    margin: 0 auto;
  }
}
